* {
    margin: 0;
}

body {
    background-image: url('Images/background3.png');
    font-family: Luminari, fantasy;
}

#layout2 {
    display: grid;
    place-items: center;
}
.card {
    background-color: white;
    border-radius: 30px;
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.5);
    width: 90vw;
    margin: 1vh;
    padding: 1vh;
}

#banner {
    font-size: 10vw;
    text-align: center;
}

.memo {
    min-height: 1vh; /* Ensures a minimum height but allows growth */
    height: auto; /* Lets it expand with content */
    display: flex; /* Helps align items */
    flex-direction: column; /* Stacks items vertically */
    justify-content: center; /* Aligns content */
    padding: 1vw; /* Ensures spacing */
    background: radial-gradient(circle, rgba(160, 160, 160, 0.2) 50%, rgba(255, 255, 255, 0.1));
}

.memo p {
    font-size: 3vw;
}

.update {
    background: radial-gradient(circle, rgba(160, 160, 160, 0.2) 50%, rgba(255, 255, 255, 0.1));
    font-size: 2vw;
}

