* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: normal;
  border-bottom: 1px solid black;
  text-align: center;
}

h2 {
  font-weight: normal;
  border-bottom: 1px solid black;
  text-align: center;
}

nav {
  display: grid;
  grid-template-columns: auto auto;
}

a {
  text-align: center;
}

blockquote {
  font-style: italic;
  text-align: center;
  color: gray;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.outsetCard {
  background-color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  max-width: 800px;

}

.insetCard {
  background-color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow:inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 800px;
}